.alternativeSignInOptionsButton {
    background-color: #5064fc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    margin-top: 20px
}

.alternativeSignInOptionsButton:hover {
    background-color: #0c55ff;
}

.alternativeSignInOptionsButton .google-icon {
    margin-left: 10px;
}

.formSignIn {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #1d9de7; 
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.formSignIn .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}


.formSignIn input {
    width: 95%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #111111; 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.949); 
    font-size: 16px;
    color: rgb(18, 18, 19); /* Text color */
    transition: background-color 0.2s, border 0.2s;
}


.formSignIn input:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.formSignIn input:focus {
    border-color: #fff; 
    background-color: rgb(250, 250, 250);
    outline: none;
}


.formSignIn button {
    width: 100%;
    padding: 10px 15px;
    background-color: #fff; 
    color: #007BFF; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}


.formSignIn button:hover {
    background-color: #e6e6e6;
    color: #0056b3;
}


.link{
    
    font-weight: bold;
    text-decoration: underline;
}
.toggleSignPages{
    padding: 20px;
}


.signOutButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.signOutButton:focus {
    border-color: #fff;
    background-color: rgb(250, 250, 250);
    outline: none;
}
.signOutButton {
    width: auto; 
    max-width: 200px; 
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}


.signOutButton:hover {
    background-color: #e6e6e6;
    color: #0056b3;
}

